*{

    padding: 0%;
    margin: 0%;
}
h1:hover{
    background-color: lavender;
    color: violet;

}
#div5{
   background-color:chartreuse;

}

h1{
       text-align: center;
       font-size: larger;
       font-weight: 600;
       color: blueviolet;
    text-transform: uppercase;
     font-style: italic;
}
section{

    text-align: center;
}
h3{
      text-transform: uppercase ;
      text-wrap: ;
      text-decoration: wavy;
      font-style: italic;

      

}
#d1{ 
    background-color: pink;
font-family: 'Oswald', sans-serif;;
    line-height: 2;
}
#d3{

    background-color: rgb(186, 111, 186);
}

#overflow{
    overflow: scroll;
    background-color: lab(from pink l a b);
}
p:hover{
   color: blue; 
   line-height: 30px;
}
p{
    font-style: italic;

}